 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root {
    --main-color: rgb(255, 106, 0);
    --text-color: #1e1c2a;
    --bg-color: white;

    --big-font: 4rem;
    --h2-font: 35px;
    --p-font: 12px;
  }
  .sec{
     background-image: linear-gradient(  blanchedalmond);
  }
   #darkmode {
    font-size: 25px;
    cursor: pointer;
  }
  section{
    padding: 50px 10%;
  }
  body.active {
    --bg-color: rgb(34, 34, 59);
    --text-color: #fff;
  }
  body {
    color: var(--text-color);
    background: var(--bg-color);
  }
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(pink,lavender);
  }
  .logo{
    font-size: 20px;
    font-weight: 600px;
    color: var(--main-color);
  }
  .navbar{
    display: flex;
  }
  .navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
    }
    .navbar a:hover {
    color: var(--main-color);
  }
  #menu-icon{
    font-size: 2rem;
   display: none;
   cursor: pointer;
  }
  .home{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 20px;
    
   
  }
  .home-img img{
    width: 100%;
    animation-name: move;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  @keyframes move{
    from{
        transform: translatex(0);
        
    }
    to{
        transform: translatex(20px);
    }
}
  .home-text h1 {
    font-size: var(--big-font);
    color: var(--main-color);
  }
  .home-text h2 {
    font-size: var(--h2-font);
    margin: 1rem 0 1rem;
  }
  .btn{
   display: inline-block;
   background-color: var(--main-color);
   padding: 10px 20px;
   border-radius: 0.5rem;
   color: white;
  }
  .btn:hover{
    background: #ffa400;
    transition: all 0.5s ease;
    transform:translatex(1.5);
    transform:rotate(360deg);
  }
  .heading {
    text-align: center;
  }
  .heading span {
    color: var(--main-color);
    font-weight: 500;
  }
  .heading h2 {
    font-size: var(--h2-font);
  }
  .menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 30px;
  }
  .box{
    position: relative;
    margin-top: 2rem;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px 0 rgb(88, 102, 106);
    padding: 10px;
    
  }
  .box:hover{
    transform: scale(1.1);
    transition: all 0.8s ease;
  }
  .box-img{
    width: 200px;
    height: 200px;
  }
  .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .box h2{
    font-size: 20px;
  }
  .box h3{
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0 10px;
  }
  .box span {
    font-size: var(--p-font);
    font-weight: 500;
  }
  .box .bx{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    background-color: var(--main-color);
     border-radius: 0 10px 0 10px;
     padding: 5px 8px;
    
  }
  .box .bx:hover {
    background: #ff00d9; 
  }

  .connect {
    display: flex;
    align-items: center;
    justify-content: space-around;
     background: blanchedalmond;
  }
  .connect-text span {
    color: var(--main-color);
    font-weight: 500;
  }
  .connect-text h2 {
    font-size: var(--h2-font);
  }
  .contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
     background: blanchedalmond;
  }
  .contact-box h3 {
    margin: 1rem;
  }
  .social {
    display: flex;
    margin-top: 1.5rem;
  }
  .social i {
    font-size: 20px;
    margin-right: 1rem;
    color: var(--text-color);
  }
  .social i:hover {
    color: var(--main-color);
  }
  .contact-box li a {
    color: var(--text-color);
  }
  .contact-box li a:hover {
    color: var(--main-color);
  }
  .address {
    display: flex;
    flex-direction: column;
  }
  .address i {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .address span {
    margin-left: 1rem;
  }
  .copyright {
    padding: 20px;
    text-align: center;
  }
  .no:hover{
     transition: all 0.2s ease;
    transform:translatex(1.5);
    transform:rotate(360deg);
    scale: 1.5;
    font-size: 20px;
    color: deeppink;
  }